$breakpoints: (
  "desktop": 1200px,
  "sm": 992px,
  "tablet": 768px
);

$dark-green: #085E1F;
$green: #4B7F14;
$blue: #436092;
$yellow: #E0B12F;
$purple: #623C5D;
$navy: #1F3C6E;

$dark-grey: #757575;
$light-grey: #EFEFEF;
